/* User messages */
[data-testid="stChatMessage"]:nth-child(odd) {
    color: #1976D2;
    border-radius: 12px;
    padding: 12px;
}

/* Assistant messages */
[data-testid="stChatMessage"]:nth-child(even) {
    color: #F1F3F6;
    border-radius: 12px;
    padding: 12px;
}